<html>
<style>
    td,
    th {
        font-family: monospace;
    }

    .stopped {
        background-color: #ecc9c9;
    }

    .absent {
        background-color: #e6d00e;
    }

    .running {
        background-color: #a3c4a6;
    }
</style>

<body>
    <h1>Moneypenny AWS Controls Calendar: {{.Profile}}</h1>

    {{ range .Days }}
    <h2>{{.Name}} ({{.DayNumber}}) {{.Today}}</h2>
    <table>
        <tr>
            <th>Time</th>
            <th>Desired State</th>
            <th>Service</th>
            <th>Cluster</th>
            <th>Cron</th>
        </tr>
        {{ range .Times }}
        <tr class="{{.RowClass}}">
            <td>{{twoDigits .Plan.Hour}}:{{twoDigits .Plan.Minute}}</td>
            <td>{{.Plan.DesiredState}}</td>
            <td>{{.ServiceName}}
            </td>
            <td>{{.ClusterARN}}</td>
            <td>{{.Cron}}</td>
            </td>
        </tr>
        {{ end }}
    </table>
    {{ end }}
</body>

</html>